.verticalLine {
    border-right: 1px solid #ff0000;
  }
  hr {
    border: 1px solid;
  }
  #demo-hr {
    background-clip: hr;
    -webkit-background-clip: hr;
    color: transparent;
    background-image: url("/assets/img/rainbows.gif");
  }
  