<div class="container" style="margin-right: 720px; margin-top:60px">
    <div class="carousel">
      <div class="carousel__face"><span id="demo-text">Welcome!</span></div>
      <div class="carousel__face">
        <span id="demo-text">TS.Giang Hào Côn</span>
      </div>
      <div class="carousel__face"><span id="demo-text">Website</span></div>
      <div class="carousel__face"><span id="demo-text">Book Store</span></div>
      <div class="carousel__face"><span id="demo-text">Angular</span></div>
      <div class="carousel__face">
        <span id="demo-text">Đặng Quang Thịnh</span>
      </div>
      <div class="carousel__face"><span id="demo-text">1800000010</span></div>
      <div class="carousel__face">
        <span id="demo-text">Ngô Quý Thanh Kim</span>
      </div>
      <div class="carousel__face"><span id="demo-text">1800000009</span></div>
    </div>
  </div>
  