<div style="position:fixed; z-index: 100; width: 100%;">
    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" >
                        <i class="fa fa-book-atlas"></i>
                        Book Store
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-house-chimney" [routerLink]="">
                            <!-- <span class="badge badge-danger"></span> -->
                        </i>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="bill" >
                        <i class="fa fa-credit-card">
                            <!-- <span class="badge badge-warning">11</span> -->
                        </i>
                        Test Card
                    </a>
                </li>
                
            </ul>
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/adminstrator">
                        <i class="fa fa-user-secret">
                          <!--   <span class="badge badge-info">11</span> -->
                        </i>
                        Adminstrator
                    </a>
                    <a class="nav-link" href="signin" >
                        <i class="fa fa-person-arrow-down-to-line" >
                            <!-- <span class="badge badge-info">11</span> -->
                        </i>
                        Sign in
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-cart-shopping">
                            <span class="badge badge-success">0</span>
                        </i>
                    </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>
