<div class="container">
    <div class="ctnt-bar cntnt">
      <div class="content-bar">
        <div class="single-page ">
          <div class="product-head" style="padding-left:10px">
            <a href="index.html">Home</a><span>/{{TENXB}}/{{TENSP}}</span>
          </div>
          <!--Include the Etalage files-->
        
          <!--//details-product-slider-->
          <div class="details-left-slider">
            <div class="grid images_3_of_2">
              <ul id="etalage" class="etalage" style="display: block; padding-left: 40px; width: 400px; min-height: 650px;">
                <li class=""><img src="assets/img/{{ANHBIA}}"></li>
                <li style="display:none;" >{{NGAYCAPNHAT}}</li>           
              </ul>
            </div>
          </div>
          <div class="details-left-info">
            <h3>{{TENSP}}</h3>
            <h4>Ngôn Ngữ: {{NGONNGU}}</h4>
            <h4>Còn lại: {{SOLUONGTON}}</h4>
            <p> {{GIABAN}} đ</p>
            <table>
              <tr >
                <th style="padding-right: 20px;">Số trang: {{SOTRANG}}</th>
                <th style="padding-right: 20px;">Kích thước: {{KICHTHUOC}}</th>
                <th style="padding-right: 20px;">Trọng lượng: {{TRONGLUONG}}</th>
              </tr>
            </table>
            <div class="btn_form">
              <a href="cart.html">MUA NGAY</a>
              <a href="cart.html">THÊM VÀO GIỎ HÀNG</a>
            </div>
            <div class="bike-type">
              <p>Loại: <a href="#">{{TENLOAI}}</a></p>
              <p>Nhà xuất bản: <a href="#">{{TENXB}}</a></p>
            </div>
            <h5>Mô tả:</h5>
            <p class="desc">{{MOTA}}</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>  
  </div>