<div class="container" style="margin-right: 570px">
  <div class="row">
    <div class="col-mb-3"></div>
    <div class="col-mb-6">
      <div
        style="font-weight: bold; text-align: center; height: auto"
        id="demo-text"
      >
        BOOK MANAGEMENT SYSTEM
      </div>
      <button
        onclick="document.getElementById('id01').style.display='block'"
        style="width: auto"
      >
        CREATE NEW
      </button>

      <div id="id01" class="modal" style="padding-top: 100px">
        <form #f="ngForm" class="modal-content animate">
          <span
            onclick="document.getElementById('id01').style.display='none'"
            class="close"
            title="Close Modal"
            >&times;</span
          >
          <div class="container">
            <label>Tên Sản Phẩm</label>
            <input
              type="text"
              name="TENSP"
              [(ngModel)]="selectedSanPham.TENSP"
            /><br />
            <label>Giá Bán</label>
            <input
              type="text"
              name="GIABAN"
              [(ngModel)]="selectedSanPham.GIABAN"
            /><br />
            <label>Số Trang</label>
            <input
              type="text"
              name="SOTRANG"
              [(ngModel)]="selectedSanPham.SOTRANG"
            /><br />
            <label>Ngôn Ngữ</label>
            <input
              type="text"
              name="NGONNGU"
              [(ngModel)]="selectedSanPham.NGONNGU"
            /><br />
            <label>Kích Thước</label>
            <input
              type="text"
              name="KICHTHUOC"
              [(ngModel)]="selectedSanPham.KICHTHUOC"
            /><br />
            <label>Trọng Lượng</label>
            <input
              type="text"
              name="TRONGLUONG"
              [(ngModel)]="selectedSanPham.TRONGLUONG"
            /><br />
            <label>Mô Tả</label>
            <input
              type="text"
              name="MOTA"
              [(ngModel)]="selectedSanPham.MOTA"
            /><br />
            <label>Ảnh Bìa </label>
            <input
              type="text"
              name="ANHBIA"
              [(ngModel)]="selectedSanPham.ANHBIA"
            /><br />
            <label>Số Lượng Tồn</label>
            <input
              type="text"
              name="SOLUONGTON"
              [(ngModel)]="selectedSanPham.SOLUONGTON"
            /><br />
<div class="row" style="padding: 20 20;">
  <div class="col-4">
    <label>Ngày Cập Nhật</label>

    <input
      class="nganto"
      type="date"
      name="NGAYCAPNHAT"
      [(ngModel)]="selectedSanPham.NGAYCAPNHAT"
    />
  </div>
  <div class="col-4">
    <label>Tên Loại</label>
    <select
      class="nganto"
      name="MAL"
      [(ngModel)]="selectedSanPham.TENLOAI"
    >
      <option *ngFor="let loai of loais" value="{{ loai.MAL }}">
        {{ loai.TENLOAI }}
      </option>
    </select>    
    <button routerLink="/adminstrator/loai">Thêm Mới</button>
  </div>
  <div class="col-4">
    <label>Tên Nhà Xuất Bản </label>
    <select
      class="nganto"
      name="MANXB"
      [(ngModel)]="selectedSanPham.TENXB"
    >
      <option
        *ngFor="let nhaxuatban of nhaxuatbans"
        value="{{ nhaxuatban.MANXB }}"
      >
        {{ nhaxuatban.TENXB }}
      </option>
    </select>

    <button routerLink="/adminstrator/nhaxuatban">Thêm Mới</button>
  </div>
            

            
            
          </div>
            <br />

            <button
              type="button"
              (click)="UpdateOrCreateSANPHAM(f)"
              onclick="document.getElementById('id01').style.display='none'"
            >
              {{ nut }}
            </button>

            <button
              type="button"
              onclick="document.getElementById('id01').style.display='none'"
              class="cancelbtn"
            >
              Cancel
            </button>
          </div>
          <span
            onclick="document.getElementById('id01').style.display='none'"
            class="close"
            title="Close Modal"
            >&times;</span
          >
        </form>
      </div>

      <script>
        // Get the modal
        var modal = document.getElementById("id01");

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        };
      </script>
      <!---->

      <br />
      <table class="table table-striped table-bordered">
        <tr>
          <th>MASP</th>
          <th>Tên Sản phẩm</th>
          <th>Giá bán</th>
          <th>Số Trang</th>
          <th>Ngôn ngữ</th>
          <th>Kích thước</th>
          <th>Trọng lượng</th>
          <th>Mô tả</th>
          <th>Ảnh bìa</th>
          <th>Ngày cập nhật</th>
          <th>Số lượng tồn</th>
          <th>Tên loại</th>
          <th>Tên nhà sản xuất</th>
          <th>Chức năng</th>
        </tr>
        <tr *ngFor="let SANPHAM of dssanphams">
          <td>{{ SANPHAM.MASP }}</td>
          <td>{{ SANPHAM.TENSP }}</td>
          <td>{{ SANPHAM.GIABAN }}</td>
          <td>{{ SANPHAM.SOTRANG }}</td>
          <td>{{ SANPHAM.NGONNGU }}</td>
          <td>{{ SANPHAM.KICHTHUOC }}</td>
          <td>{{ SANPHAM.TRONGLUONG }}</td>
          <td id="cat">{{ SANPHAM.MOTA }}</td>
          <td>
            <img
              class="zoom"
              [src]="'assets/img/' + SANPHAM.ANHBIA"
              width="150"
            />
          </td>

          <td>{{ SANPHAM.NGAYCAPNHAT }}</td>
          <td>{{ SANPHAM.SOLUONGTON }}</td>
          <td>{{ SANPHAM.TENLOAI }}</td>
          <td>{{ SANPHAM.TENXB }}</td>
          <td>
            <button
              (click)="selectSanPham(SANPHAM)"
              onclick="document.getElementById('id01').style.display='block'"
              style="width: 100%"
            >
              EDIT
            </button>

            <button id="del" (click)="deleteSanPham(SANPHAM.MASP)">
              Delete
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-mb-3"></div>
  </div>
</div>
